<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %} <!-- -->
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <!-- form을 제출하면 Post방식으로 name 선택지를 그룹핑해서 중복선택 안되게 함. name:value 서버로 전송, id는 아래 label for 짝 이룸-->
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
</body>
</html>